.image {

  width: 100%;
 
}

.video-info-grid {

  display: grid;
  grid-template-columns: 50px 1fr;
}

.channel-profile {

  width: 36px;
  border-radius: 50px;
}

.video-title {

  margin-top: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-author {

  font-size: 12px;
  color: rgb(96, 96, 96);
  margin-bottom: 4px;
}

.video-stats {

  font-size: 12px;
  color: rgb(96, 96, 96);
}

.thumbnail-row {

  margin-bottom: 8px;
  position: relative;
}



.video-grid {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;

}

.video-time {

  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 8px;
  font-family: Roboto , Arial;
  font-size:12px;
  font-weight:500;
  padding-top: 4px;
  padding-left: 4px;
  padding-bottom: 4px;
  padding-right:4px;
  border-radius: 3px;


}