

.first-div {
  
  background-color: #f0f0f08f;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
  padding-bottom: 20px;


}

.img {

  width: 250px;
  height: 210px;
  object-fit: cover;
  
 
}

.name {

  margin-left: 10px;
  margin-top: 10px;
}

.text {

  font-size: 20px;
  font-family: Roboto , Arial;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 4px;
}



.grid {

  display: grid;
  grid-template-columns: 50px 1fr;

}

.img-2 {
width: 30px;
height: 30px;
border-radius: 15px;



}



.text-1 {

 
  font-size: 16px;
  margin-top: 5px;
  color: rgb(96,96,96);
  font-family: Roboto , Arial;
 

}

.add-friend {

  margin-left: 10px;
  margin-top: 10px;
}

.add-button {

  width:150px;
  height:50px;
  border-radius: 5px;
  font-size: 20px;
  background-color:#4267B2;
  border: none;
  color: white;
  font-family: Roboto , Arial;
}

.main-div-grid {

  display: grid;
  grid-template-columns: 250px 250px 250px;
  column-gap: 16px;
  
}
